
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <title>AuthorizationError</title>
</head>
<body>

    <div class="w3-container w3-center w3-animate-bottom" style="margin: 150px auto">
        <h1 style="text-shadow:20px 12px 2px #eae7e7;font-size: 135px;color:red">Oops!</h1>
        <br />
        <p>It seems like you are not authorised for this page.  :(</p>
    </div>

</body>
</html>
