/* Menu Dropdown on hover*/
.dropdown-menu > li > a i {
    margin: 3px 0 0 0;
}

.dropdown-menu > li > a {
    line-height: 21px;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 2px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: crimson;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
}

    #myBtn:hover {
        background-color: #555;
    }
/* Go To Top Button End */
/*.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}

li.dropdown:hover > .dropdown-menu {
    display: block;
}*/
/* Menu Dropdown on hover End */
